[package]
name = "mrecordlog"
version = "0.1.0"
edition = "2021"
license = "MIT"
rust-version = "1.68" # 1.67 contains an UB we would trigger

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
crc32fast = "1.2"
thiserror = "1"
tokio = {version="1", features=["io-util", "macros", "rt-multi-thread", "fs", "io-std"]}
async-trait = "0.1"
serde = {version= "1", features=["derive"]}
serde_json = {version= "1"}

[dev-dependencies]
tempfile = "3"
futures = "0.3"
rand = "0.8"
proptest = "1"
criterion = { version = "0.4", features = ["async_tokio"] }

[[bench]]
name = "bench"
harness = false
